<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>TipoContratacionController</servlet-name>
        <servlet-class>com.udb.dwf.rrhh.controllers.TipoContratacionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TipoContratacionController</servlet-name>
        <url-pattern>/tipoContrataciones/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmpleadosController</servlet-name>
        <servlet-class>com.udb.dwf.rrhh.controllers.EmpleadosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpleadosController</servlet-name>
        <url-pattern>/empleados</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepartamentoController</servlet-name>
        <servlet-class>com.udb.dwf.rrhh.controllers.DepartamentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartamentoController</servlet-name>
        <url-pattern>/departamentos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CargoController</servlet-name>
        <servlet-class>com.udb.dwf.rrhh.controllers.CargoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargoController</servlet-name>
        <url-pattern>/cargos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContratacionesController</servlet-name>
        <servlet-class>com.udb.dwf.rrhh.controllers.ContratacionesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContratacionesController</servlet-name>
        <url-pattern>/contrataciones</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewController</servlet-name>
        <servlet-class>com.udb.dwf.rrhh.controllers.ViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewController</servlet-name>
        <url-pattern>/vista</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>



</web-app>