
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row ">
        <div class="col-sm-6">
          <h2>Manage <b>Employees</b></h2>
        </div>
        <div class="col-sm-5">
          <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover text-center">
      <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center" >Dui</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Telefono</th>
        <th class="text-center">Cargo</th>
        <th class="text-center">Departamento</th>
        <th class="text-center" >Contratado en</th>
        <th class="text-center" >Salario</th>
        <th class="text-center">Cumpleaños</th>
        <th class="text-center">Tipo de Contrato</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let dato of viewDatos; let i=index" id="tablaEmpleados">
        <td>{{dato.idEmpleado}}</td>
        <td>{{dato.numeroDui}}</td>
        <td>{{dato.nombrePersona}}</td>
        <td>{{dato.numeroTelefono}}</td>
        <td>{{dato.cargo}}</td>
        <td>{{dato.nombreDepartamento}}</td>
        <td>{{dato.fechaContratacion}}</td>
        <td>{{dato.salario}}</td>
        <td>{{dato.fechaNacimiento}}</td>
        <td>{{dato.tipoContratacion}}</td>
        <td>
          <a href="#editEmployeeModal" class="edit" data-toggle="modal" (click)="onCheckBoxChange($event,dato.idEmpleado)"
             ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
          <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" (click)="onCheckBoxChange($event,dato.idEmpleado)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
        </td>
      </tr>
      </tbody>
    </table>
<!--    <div class="clearfix">-->
<!--      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>-->
<!--      <ul class="pagination">-->
<!--        <li class="page-item disabled"><a href="#">Previous</a></li>-->
<!--        <li class="page-item"><a href="#" class="page-link">1</a></li>-->
<!--        <li class="page-item"><a href="#" class="page-link">2</a></li>-->
<!--        <li class="page-item active"><a href="#" class="page-link">3</a></li>-->
<!--        <li class="page-item"><a href="#" class="page-link">4</a></li>-->
<!--        <li class="page-item"><a href="#" class="page-link">5</a></li>-->
<!--        <li class="page-item"><a href="#" class="page-link">Next</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
  <!-- Add Modal HTML -->
  <div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form (ngSubmit)="saveAll()">
          <div class="modal-header">
            <h4 class="modal-title">Agregar Empleado</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Numero De DUI</label>
              <input type="text" class="form-control"
                     id="dui"
                     required
                     pattern="\d{9}"
                     placeholder="00000000-0"
                     [(ngModel)]="individuoAdd.numeroDui"
                     name="dui-send">
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control"
                     required
                     id="Nombre"
                     [(ngModel)]="individuoAdd.nombrePersona"
                     name="nombre-send">
            </div>
            <div class="form-group">
              <label>Usuario</label>
              <input class="form-control"
                     required
                     id="Usuario"
                     [(ngModel)]="individuoAdd.usuario"
                     name="user-send">
            </div>
            <div class="form-group">
              <label>Telefono</label>
              <input type="tel" class="form-control"
                     required
                     id="telefono"
                     [(ngModel)]="individuoAdd.numeroTelefono"
                     name="phone-send">
            </div>
            <div class="form-group">
              <label>Correo</label>
              <input type="email" class="form-control"
                     required
                     id="correo"
                     [(ngModel)]="individuoAdd.correoInstitucional"
                     name="email-send">
            </div>
            <div class="form-group">
              <label>Fecha De Nacimiento</label>
              <input type="date" class="form-control"
                     required
                     id="nac"
                     [(ngModel)]="individuoAdd.fechaNacimiento"
                     name="bday-send">
            </div>
            <div class="form-group">
              <label>Fecha De Contratacion</label>
              <input type="date" class="form-control"
                     required
                     id="cont"
                     [(ngModel)]="contratoAdd.fechaContratacion"
                     name="contratacionDate-send">
            </div>
            <div class="form-group">
              <label for="cargoSelect">Cargo</label>
              <select class="form-control"
                      required
                      id="cargoSelect"
                      [(ngModel)]="contratoAdd.idCargo"
                      name="idCargo-send">
                <option value="">Selecciona un valor</option>
                <option *ngFor="let cargo of todosLosCargos" [value]="cargo.idCargo">{{cargo.cargo}}</option>

              </select>
            </div>
            <div class="form-group">
              <label for="contratacionSelect">Tipo de Contratacion</label>
              <select class="form-control"
                      id="contratacionSelect"
                      required
                      [(ngModel)]="contratoAdd.idTipoContratacion"
                      name="idCargo-send">
                <option value="">Selecciona un valor</option>
                <option *ngFor="let tipo of todosLosTipos" [value]="tipo.idTipoContratacion">{{tipo.tipoContratacion}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="contratacionSelect">Departamento</label>
              <select class="form-control"
                      id="DepartamentoSelect"
                      required
                      [(ngModel)]="contratoAdd.idDepartamento"
                      name="dpto-send">
                <option value="">Selecciona un valor</option>
                <option *ngFor="let dpto of departamentos" [value]="dpto.idDepartamento">{{dpto.nombreDepartamento}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Salario</label>
              <input type="text" class="form-control"
                     required
                     id="salario"
                     pattern="^\d+(\.\d{1,2})?$"
                     placeholder="0.00"
                     [(ngModel)]="contratoAdd.salario"
                     name="salario-send">
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            <input type="submit" class="btn btn-success" value="Agregar">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form (ngSubmit)="updateAll()">
            <div class="modal-header">
              <h4 class="modal-title">Editar Empleado</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Numero De DUI</label>
                <input type="text" class="form-control"
                       id="dui-edit"
                       required
                       pattern="\d{9}"
                       placeholder="00000000-0"
                       [(ngModel)]="individuo.numeroDui"
                       name="dui-send">
              </div>
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control"
                       required
                       id="Nombre-edit"
                       [(ngModel)]="individuo.nombrePersona"
                       name="nombre-send">
              </div>
              <div class="form-group">
                <label>Usuario</label>
                <input class="form-control"
                       required
                       id="Usuario-edit"
                       [(ngModel)]="individuo.usuario"
                       name="user-send">
              </div>
              <div class="form-group">
                <label>Telefono</label>
                <input type="tel" class="form-control"
                       required
                       id="telefono-edit"
                       [(ngModel)]="individuo.numeroTelefono"
                       name="phone-send">
              </div>
              <div class="form-group">
                <label>Correo</label>
                <input type="email" class="form-control"
                       required
                       id="correo-edit"
                       [(ngModel)]="individuo.correoInstitucional"
                       name="email-send">
              </div>
              <div class="form-group">
                <label>Fecha De Nacimiento</label>
                <input type="date" class="form-control"
                       required
                       id="nac-edit"
                       [(ngModel)]="individuo.fechaNacimiento"
                       name="bday-send">
              </div>
              <div class="form-group">
                <label>Fecha De Contratacion</label>
                <input type="date" class="form-control"
                       required
                       id="cont-edit"
                       [(ngModel)]="contratoSend.fechaContratacion"
                       name="contratacionDate-send">
              </div>
              <div class="form-group">
                <label for="cargoSelect">Cargo</label>
                <select class="form-control"
                        required
                        id="cargoSelect-edit"
                        [(ngModel)]="contratoSend.idCargo"
                        name="idCargo-send">
                  <option value="">Selecciona un valor</option>
                  <option *ngFor="let cargo of todosLosCargos" [value]="cargo.idCargo">{{cargo.cargo}}</option>

                </select>
              </div>
              <div class="form-group">
                <label for="contratacionSelect">Tipo de Contratacion</label>
                <select class="form-control"
                        id="contratacionSelect-edit"
                        required
                        [(ngModel)]="contratoSend.idTipoContratacion"
                        name="idCargo-send">
                  <option value="">Selecciona un valor</option>
                  <option *ngFor="let tipo of todosLosTipos" [value]="tipo.idTipoContratacion">{{tipo.tipoContratacion}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="contratacionSelect">Departamento</label>
                <select class="form-control"
                        id="DepartamentoSelect-edit"
                        required
                        [(ngModel)]="contratoSend.idDepartamento"
                        name="dpto-send">
                  <option value="">Selecciona un valor</option>
                  <option *ngFor="let dpto of departamentos" [value]="dpto.idDepartamento">{{dpto.nombreDepartamento}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Salario</label>
                <input type="text" class="form-control"
                       required
                       id="salario-edit"
                       pattern="^\d+(\.\d{1,2})?$"
                       placeholder="0.00"
                       [(ngModel)]="contratoSend.salario"
                       name="salario-send">
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
              <input type="submit" class="btn btn-success" value="Editar">
            </div>
          </form>
        </div>
      </div>
    </div>
  <!-- Delete Modal HTML -->
  <div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Delete Employee</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete these Records?</p>
            <p class="text-warning"><small>This action cannot be undone.</small></p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit"
                   class="btn btn-danger"
                   value="Delete"
                   (click)="deleteBoth()">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



  <router-outlet></router-outlet>
</div>
